In [ ]:
username = input()
password = input()

if username == "admin" and password == "admin123":
    print("Login successful")
else:
    print("Invalid credentials")

admin
admin123
Login successful

In [ ]:
x=1
y=20
if x>2:
    x=x+200
else:
    y=200+x
print(x,y)

1 201

In [ ]:
x=1
y=20
if x>5:
    x=x+5
    y=x-2
    x=y+2
else:
    x=x+1
    y=y+2
print(x,y)

2 22

In [ ]:
x = 1
y = 20
if x > 5:
    x = x + 5
    y = x - 2
    x = y + 2
else:
    x = x + 1
    y = y + 2
print( x, y)

2 22

In [ ]:
a = 10
b = 5
if a < b:
    a += 2
    b += 3
else:
    a -= 2
    b *= 2
print("Example 2:", a, b)

Example 2: 8 10

In [ ]:
x = 3
y = 7
if x * 2 > y:
    x = x * 2
    y = y - 1
else:
    y = y + 3
    x = y - x
print( x, y)

7 10

In [ ]:
p = 12
q = 3
if p / q == 4:
    p = p + q
else:
    p = p - q
print( p, q)

15 3

In [ ]:
x = 11
y = 8
if x % 2 == 0:
    y = y + 1
else:
    x = x + 2
    y = y - 2
print( x, y)

13 6

In [ ]:
a = 5
b = 15
if a > 2 and b < 20:
    a = a * 2
    b = b - 5
else:
    a = a + b
print( a, b)

10 10

In [ ]:
x = 4
y = 9
if y > x:
    x = x + y
    y = y - x
else:
    x = x - y
print("Example 7:", x, y)

Example 7: 13 -4

In [ ]:
a = 8
b = 12
if a == b:
    a = a * b
else:
    b = b - a
print("Example 8:", a, b)

Example 8: 8 4

In [ ]:
x = 6
y = 6
if x >= y:
    x = x ** 2
    y = y + 1
else:
    y = y ** 2
print("Example 9:", x, y)

Example 9: 36 7

In [ ]:
a = 2
b = 18
if b % a == 0:
    b = b // a
else:
    a = b % a
print("Example 10:", a, b)

Example 10: 2 9

In [1]:
x="data7"
for z in x:
    print(z.isalpha())

True
True
True
True
False

In [2]:
x=[1,2,3,"data",[4,5,6,"Data"]]

In [3]:
for i in x:
    print(i)
    print(len(str(i)))

1
1
2
1
3
1
data
4
[4, 5, 6, 'Data']
17

In [4]:
x="Data science machine leanring"
for i in x.split():
    print(len(i))

4
7
7
8

In [5]:
"*"*4

'****'

In [6]:
for i in [1,2,3,4,5]:
    print("*"*(6-i))

*****
****
***
**
*

In [7]:
for i in [1,2,3,4,5]:
    print("*"*(i))
for i in [1,2,3,4,5]:
    print("*"*(6-i))

*
**
***
****
*****
*****
****
***
**
*

In [11]:
for i in range(1,6):
    print(i,end=',')

1,2,3,4,5,

In [9]:
for i in range(1,6,2):
    print(i,end=',')

1,3,5,

In [12]:
for i in range(1,50,2):
    print(i,end=',')

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,

In [13]:
for i in range(1,6):
    print((6-i)*" "+i*"$")

     $
    $$
   $$$
  $$$$
 $$$$$

In [14]:
for i in range(1,10):
  print((10-i)*" "+i*"@")

         @
        @@
       @@@
      @@@@
     @@@@@
    @@@@@@
   @@@@@@@
  @@@@@@@@
 @@@@@@@@@